<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A K Traders</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../static/myjavascript.js"></script>
</head>

<body>
    <div class="container-fluid">
        {% if order_placed %}
            <div class="alert alert-success h5" role="alert">your order is placed.</div>
        {% endif %}
        <div class="header-top">A K Traders </div><br/>
        <div id="item-detail">
            <!-- Tab links -->
            <div class="tab">
              <button class="tablinks active" onclick="openTab(event, 'itemlist')">Item List</button>
              <button class="tablinks" onclick="openTab(event, 'myorder')">My Order</button>
            </div>

        <!-- Tab content -->
            <div id="itemlist" class="tabcontent">
                <div id="item-detail" class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-sm12 col-xs-12 h4">
                            <div class="common-header">Add Order Details</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row form-group">
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <label for="Name" style="font-size: 35px; color: #c65800">Item Name </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <select id="category_list" name="category_list" onchange="item_snippet()" class="form-control">
                                        <option value="0">All Category</option>
                                        {% for cat_obj in categories %}
                                            <option value="{{ cat_obj.id }}">{{ cat_obj.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <input id="itemname" placeholder="Add here" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="items-ul">

                </div>
            </div>

            <div id="myorder" class="tabcontent">
                <div class="row">
                    <div class="col-md-12 col-sm12 col-xs-12 h4">
                        <div class="common-header">My Orders</div>
                    </div>
                </div>
                <div id="item_order_list">

                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button onclick="gonext()" class="btn btn-primary col-md-1 form-control" >Submit Order</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="user-detail" style="display: none">
            <div class="common-header" style="padding-bottom: 50px">Add your detail</div>
            <form method="post" action="/adminpanel/placeorder/" id="user_details_form">
                {% csrf_token %}
                <div class="userDetail form-group">
                    <div class="m15-bottom">
                        <div class="form-label">Name</div>
                        <div><input type="text" id="username" name="username" class="form-control" required></div>
                    </div>
                    <div class="m15-bottom">
                        <div class="form-label">Phone</div>
                        <div><input id="phone" name="phone" type="number" class="form-control" required></div>
                    </div>
                    <div class="m15-bottom">
                        <div class="form-label">Address</div>
                        <div><input type="text" id="address" name="address" class="form-control" required></div>
                    </div>
                    <div class="m15-bottom">
                        <div class="form-label">Email(optional)</div>
                        <div><input type="text" id="email" name="email" type="email" class="form-control"></div>
                    </div>
                    <div>
                        <input id="item-list" style="display: none" name="items-dict">
                    </div>
                    <div style="text-align: center; padding-top: 100px">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-info form-control" onclick="goback()">Back</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-primary form-control" onclick="submit_order()">Place Order</button></div>
                            </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    $("document").ready(function() {
        set_default_units({{ units|safe }});
        openTab(event, 'itemlist');
        item_snippet();
    });

    var el = document.getElementById('itemname');
    el.addEventListener('keyup', function(event) {
        // Checking for Backspace.
        if (event.keyCode == 8 || event.keyCode == 46) {
            item_snippet()
        }
        else{
            item_snippet()
        }
    });
</script>
</html>

